extends layout

block content
    div.news-page
        div.news-header
            div.news-header-title
                ="HN Feed"
            div.news-header-subtitle
                ="We <3 hacker news!"
        ul.list-group
            each val in articles
                a(href=val.url, target="_blank")
                    li.list-group-item.article-link
                        div.title
                            =val.title
                        div.author
                            =" - " + val.author + " - "
                        div.actions
                            a(href="/deleteArticle/" + val.id)
                                i.fa.fa-trash
                        div.time
                            =val.creation_date

